/*---------------------------------------------------------------------------------
	Content
---------------------------------------------------------------------------------*/
	
	#content table {
		border-spacing: 0;
		color: hsl(0, 0%, 50%);
		font: 115% monospace;
		padding: 20px 0;
		table-layout: fixed;
	}
	#content table th {
		vertical-align: top;
	}
	#content table td {
		padding: 0 20px 0 0;
		vertical-align: top;
	}
	
/*---------------------------------------------------------------------------------
	Params
---------------------------------------------------------------------------------*/
	
	#params table th {
		color: hsl(0, 0%, 80%);
		clear: both;
		text-align: left;
		padding: 0 10px 0 20px;
		white-space: nowrap;
		vertical-align: top;
	}
	#params table td {
		color: hsl(210, 50%, 80%);
	}
	
/*---------------------------------------------------------------------------------
	Source
---------------------------------------------------------------------------------*/
	
	#source table th {
		text-align: right;
		width: 1%;
		vertical-align: top;
	}
	#source table th a {
		color: hsl(210, 5%, 20%);
		display: block;
		padding: 0 10px 0 20px;
		text-shadow: none;
	}
	#source table th a:hover,
	#source table tr:hover th a,
	#source table tr:target th a {
		color: hsl(210, 5%, 40%);
	}
	
	#source table td {
		white-space: pre;
	}
	
	#source table tr:hover,
	#source table tr:target {
		background: hsl(210, 5%, 15%);
	}
	
	/*-----------------------------------------------------------------------------
		Markup
	-----------------------------------------------------------------------------*/
		
		#source .context-markup .declaration {
			color: hsl(0, 0%, 80%);
		}
		
		#source .context-markup .tag {
			color: hsl(0, 0%, 80%);
		}
		
		#source .context-markup .attribute {
			color: hsl(0, 0%, 80%);
		}
		
		#source .context-markup .entity {
			color: hsl(80, 50%, 80%);
		}
		
		#source .context-markup .value {
			color: hsl(210, 50%, 80%);
		}
		
		/*-------------------------------------------------------------------------
			XSL
		-------------------------------------------------------------------------*/
			
			#source .context-markup.xsl .xpath {
				color: hsl(300, 50%, 80%);
			}
			
/*-------------------------------------------------------------------------------*/